{% include variables.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>
  <header class="container">
    {% comment %} <nav>
      <ul>
        <li> {% endcomment %}
          <hgroup>
            <h4>Osuvaldo Ramos</h4>
            <p>Software Engineer</p>
            <p>
              <a href="https://www.linkedin.com/in/osuvaldo/">LinkedIn</a> | <a href="https://github.com/osuvaldo90">GitHub</a> | <a href="mailto:osuvaldo.ramos@gmail.com">Email</a>
            </p>
          </hgroup>
        </li>
        {% comment %} <li>
          <a href="https://www.linkedin.com/in/osuvaldo/">LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/osuvaldo90">GitHub</a>
        </li>
      </ul> {% endcomment %}
      {% comment %} <ul>
        <li>
          <details class="dropdown">
            <summary>Menu</summary>
            <ul>
              {%- for item in main_pages -%}
              {%- assign title = item.emoji | append: " " | append: item.title %}
              <li>
                {%- if page.url == item.url -%}
                <b>{{ title }}</b>
                {%- else -%}
                <a href="{{ item.url | relative_url }}">{{ title }}</a>
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>
          </details>
        </li>
      </ul> {% endcomment %}
    {% comment %} </nav> {% endcomment %}
  </header>

  <main class="container" aria-label="Content">
    <h1>{{ page.emoji | append: " " | append: page.title }}</h1>
    {{ content }}
  </main>

  {% comment %} {%- include footer.html -%} {% endcomment %}
</body>

</html>
